<app-app-nav></app-app-nav>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

    <h1>TestUploadd</h1>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- 雙向繫結1 -->
  <!-- <input [(ngModel)]="username"> -->
  <!-- 雙向繫結2=>記得大小寫 -->
  <!-- <input [ngModel]="username" (ngModelChange) = "username = $event"> -->
  <!-- 雙向繫結3==>不使用ngModel-->
  <input [value]="username" (input)="inputChange($event)">
</div>
<h2>Here are some links to help you start: {{username}}</h2>


