<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent>
   <httpErrors errorMode="Detailed"></httpErrors>
    <rewrite>
      <rules>
        <rule name="SPA" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
  <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true"/>
    </system.web>
</configuration>
